#!/usr/bin/env python3

import logging
from pathlib import Path
from os import environ
from traceback import format_exc
from logging.handlers import SysLogHandler
from sys import exit as sys_exit
from sys import argv as sys_argv
from json import loads as json_loads
from json import dumps as json_dumps
from subprocess import Popen as subprocess_popen
from subprocess import PIPE as subprocess_pipe

DEBUG = {{ 'True' if server.auth.debug | bool else 'False' }}
OVPN_SERVER = '{{ server_name }}'
TIMEOUT_SEC = int('{{ server.auth.timeout_sec }}')
AUTH_CONFIG_FILE = '{{ OVPN_HC.file.auth_config }}'
AUTH_MFA_SEPARATOR = '{{ server.auth.mfa_separator }}'

SYSLOG = {{ 'True' if server.auth.syslog | bool else 'False' }}
SYSLOG_IDENTIFIER = '{{ server.auth.syslog_identifier }}'
LOG_FILE = '{{ OVPN_CONFIG.path.log }}/{{ server.auth.log_file }}'
SERVER_PLACEHOLDER = '$server_name'

SCRIPTS = {
    'ldap': '{{ OVPN_CONFIG.path.script }}/{{ OVPN_HC.file.auth.ldap }}',
    'system': '{{ OVPN_CONFIG.path.script }}/{{ OVPN_HC.file.auth.system }}',
    'totp': '{{ OVPN_CONFIG.path.script }}/{{ OVPN_HC.file.auth.totp }}',
}

if len(sys_argv) == 1:
    print('ERROR: MISSING ARGUMENT 1 - CREDENTIAL FILE')
    sys_exit(1)

ENV_VARS = {
    'OVPN_SERVER': 'OVPN_SERVER',
    'AUTH_CONFIG': 'OVPN_AUTH_CONFIG',
    'AUTH_CRED_FILE': 'OVPN_AUTH_CREDENTIAL_FILE',
    'AUTH_PROVIDER': 'OVPN_AUTH_PROVIDER',
    'AUTH_DEBUG': 'OVPN_AUTH_DEBUG',
    'AUTH_SYSLOG': 'OVPN_AUTH_SYSLOG',
    'AUTH_SYSLOG_ID': 'OVPN_AUTH_SYSLOG_ID',
    'AUTH_LOG_FILE': 'OVPN_AUTH_LOG_FILE',
    'AUTH_MFA_SEPARATOR': 'OVPN_AUTH_MFA_SEPARATOR',
}

CREDENTIAL_FILE = sys_argv[1]
CWD = Path(__file__).parent
AUTH_CONFIG_FILE_PATH = f'{CWD}/{AUTH_CONFIG_FILE}'
LOG_FILE = LOG_FILE.replace(SERVER_PLACEHOLDER, OVPN_SERVER)
SYSLOG_IDENTIFIER = SYSLOG_IDENTIFIER.replace(SERVER_PLACEHOLDER, OVPN_SERVER)

if SYSLOG:
    # syslog logging
    syslog_handler = SysLogHandler(address='/dev/log')
    syslog_handler.ident = SYSLOG_IDENTIFIER
    logger = logging.getLogger()
    logger.setLevel(logging.DEBUG)
    logger.addHandler(syslog_handler)

else:
    class Logger:
        @staticmethod
        def log(msg: str, prefix: str):
            with open(LOG_FILE, 'a', encoding='utf-8') as file:
                file.write(f"{prefix} | {msg}\n")

        @classmethod
        def critical(cls, msg: str):
            cls.log(prefix='CRIT', msg=msg)

        @classmethod
        def warning(cls, msg: str):
            cls.log(prefix='WARN', msg=msg)

        @classmethod
        def debug(cls, msg: str):
            cls.log(prefix='DEBUG', msg=msg)


    logger = Logger()


def log(msg: str, level=3):
    msg = f': {msg}'

    if level == 1:
        logger.critical(msg)

    elif level == 2:
        logger.warning(msg)

    elif DEBUG:
        logger.debug(msg)


def _authentication_script(script: str) -> bool:
    binary = 'python3' if script.endswith('.py') else 'bash'

    with subprocess_popen(
        [binary, script],
        shell=True,
        stdout=subprocess_pipe,
        stderr=subprocess_pipe
    ) as process:
        auth_error = process.communicate(timeout=TIMEOUT_SEC)[1].decode('utf-8')
        exit_code = process.returncode

    if exit_code != 0 and auth_error not in [None, '', ' ']:
        log(f"Authentication failed with message: '{auth_error}'")

    return exit_code == 0


# pylint: disable=W0718
try:
    log('Processing authentication')
    environ[ENV_VARS['OVPN_SERVER']] = OVPN_SERVER
    environ[ENV_VARS['AUTH_CRED_FILE']] = CREDENTIAL_FILE
    environ[ENV_VARS['AUTH_SYSLOG']] = '1' if SYSLOG else '0'
    environ[ENV_VARS['AUTH_SYSLOG_ID']] = SYSLOG_IDENTIFIER
    environ[ENV_VARS['AUTH_LOG_FILE']] = LOG_FILE
    environ[ENV_VARS['AUTH_DEBUG']] = '1' if DEBUG else '0'
    environ[ENV_VARS['AUTH_MFA_SEPARATOR']] = AUTH_MFA_SEPARATOR

    if not Path(AUTH_CONFIG_FILE_PATH).is_file():
        log(f"Unable to load config from file: '{AUTH_CONFIG_FILE_PATH}'", level=1)
        sys_exit(1)

    log(f"Loading authentication config from file: '{AUTH_CONFIG_FILE_PATH}'")
    AUTH_CONFIG = json_loads(AUTH_CONFIG_FILE_PATH)

    results = []

    for provider_name, provider_config in AUTH_CONFIG.items():
        log(f"Processing authentication provider '{provider_name}'")
        environ[ENV_VARS['AUTH_PROVIDER']] = provider_name
        environ[ENV_VARS['AUTH_CONFIG']] = json_dumps(provider_config)

        provider_result = _authentication_script(SCRIPTS[provider_name])

        if not provider_result:
            log(f"Authentication using provider '{provider_name}' failed!", level=2)

        results.append(provider_result)

    log(f'Finished authentication - results: {results}')

    if len(results) > 0 and all(results):
        sys_exit(0)

except Exception as error:
    traceback = ' | '.join(str(format_exc()).split('\n'))
    log(f"Unexpected authentication error: '{error}' => '{traceback}'", level=1)

sys_exit(1)
