# {{ ansible_managed }}
# ansibleguy.infra_openvpn

[Unit]
Description=OpenVPN server '%I'
Documentation=https://github.com/ansibleguy/infra_openvpn

{% set path_instance = OVPN_CONFIG.path.base + '/' + OVPN_CONFIG.prefix_instance %}
[Service]
WorkingDirectory={{ path_instance }}%I
ExecStart=
ExecStart={{ ovpn_binary }} --daemon openvpn_%i --cd {{ path_instance }}%i/ --config {{ path_instance }}%i/server.conf --writepid {{ OVPN_HC.path.run }}/{{ OVPN_CONFIG.prefix_instance }}%i.pid
PIDFile={{ OVPN_HC.path.run }}/{{ OVPN_CONFIG.prefix_instance }}%i.pid

CapabilityBoundingSet=CAP_IPC_LOCK CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_SETGID CAP_SETUID CAP_SYS_CHROOT CAP_DAC_OVERRIDE CAP_AUDIT_WRITE

{% if OVPN_CONFIG.syslog.enable | bool %}
{%   if ansible_distribution_major_version == "10" %}
{%     if OVPN_CONFIG.syslog.stdout | bool %}
StandardOutput=syslog
{%     endif %}
{%     if OVPN_CONFIG.syslog.stderr | bool %}
StandardError=syslog
{%     endif %}
{%   else %}
{%     if OVPN_CONFIG.syslog.stdout | bool %}
StandardOutput=journal
{%     endif %}
{%     if OVPN_CONFIG.syslog.stderr | bool %}
StandardError=journal
{%     endif %}
{%   endif %}
SyslogIdentifier={{ OVPN_CONFIG.syslog.identifier }}
{% endif %}

Environment=PYTHONUNBUFFERED=1
